* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}
body {
  background: #ecedf0;
  display: flex;
  justify-content: center;
}

.fb {
  padding: 0px 100px;
  height: 160vh;
  min-width: 0%;
}
.container {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  align-items: center;
}

.left {
  margin-right: 90px;
}
.left h1 {
  font-size: 50px;
  line-height: 1.2;
  color: #146aec;
}
.left p {
  font-size: 25px;
}
.right {
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px 0px #d3d2d2;
  background: #fff;
  min-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  outline: none;
  word-wrap: initial;
}
.input input {
  padding: 15px;
  font-size: 18px;
  color: rgb(158, 172, 172);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 0px 2px;
  width: 100%;
  outline: none;
}
.input input:focus {
  border: 1px solid #2376f1;
  color: rgb(12, 18, 18);
  box-shadow: 0px 0px 2px #2376f1;
}
.input input:focus::placeholder {
  color: rgb(199, 207, 207);
}
.input {
  display: flex;
  flex-direction: column;
}
.input .login {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  padding: 15px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background: #146aec;
  cursor: pointer;
}
.input a {
  margin: auto;
  text-decoration: none;
  color: #146aec;
}
.Create-acc {
  min-width: 55%;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  margin: auto;
  background: #4cb938;
  padding: 13px 0px;
  border-radius: 5px;
  border: none;
  word-spacing: 0px;
  cursor: pointer;
}
.brand {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
  padding-right: 40px;
  margin: 0px 2px;
}
.brand p {
  font-size: 15px;
}
.brand p a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

@media screen and (max-width: 1048px) {
  .fb {
    padding: 10px;
  }
  .container {
    /* border: 5px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    flex-wrap: nowrap;
    min-width: 50%;
  }
  .left {
    /* border: 5px solid; */
    max-width: 50%;
    margin: auto;
    margin-bottom: 20px;
  }

  .left h1,
  .left p {
    text-align: center;
  }
  .right {
    min-width: 50%;
    margin: auto;
    /* border: 5px solid; */
  }

  .brand {
    /* border: 1px solid; */
    /* margin: 0px auto; */
    padding-left: 50px;
  }

  .brand p {
    /* border: 1px solid; */
    margin: 0px auto;
  }
  .Create-acc {
    font-size: 15px;
    margin: 0px 40px;
  }
}

@media screen and (max-width: 450px) {
  .fb {
    padding: 10px;
  }
  .container {
    /* border: 5px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    flex-wrap: nowrap;
    min-width: 50%;
  }
  .left {
    /* border: 5px solid; */
    max-width: 80%;
    padding: 2px 10px;
    /* margin: auto; */
    margin-bottom: 20px;
  }

  .left h1,
  .left p {
    text-align: center;
    /* border: 2px solid; */
    padding: 0px 0px;
  }

  .right {
    min-width: 50%;
    margin: auto;

    /* border: 5px solid; */
  }

  .brand {
    /* border: 1px solid; */
    /* margin: 0px auto; */
    padding-left: 10px;
  }
  .brand p {
    /* border: 1px solid; */
    margin: 0px auto;
    margin-left: 30px;
  }
  .Create-acc {
    font-size: 15px;
    margin: 0px 40px;
  }
}
